* {
    padding: 0;
    margin: 0;
}
.header {
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}
.main
{
    padding-top:80px;
    padding-bottom: 128px;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    height: 1224px;
    background-image: url("image1.png");
    background-size: cover;
    box-sizing: border-box;
}

.form_and_article{
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.form_input{
    width:40%;
    height: 900px;
    padding:5%;
    background-color:#354463;
    color:white;
}
.article{
    margin-left: 70px;
    width:40%;
    height: 400px;
    font-size:40px;
    color: white;
}
.input{
    margin-top: 10px;
}
.input_field{
    background: transparent;
    border: none;
    width: 100%;
}
.names{
    margin-top: 20px;
    width:100%;
    height: 62px;
    display: flex;
    flex-direction: row;
    row-gap: 20%;
    color: white;
}
.bb{
    border-bottom: 2px solid #C1F7D5;
}
.first_name{
    width: 40%;
}
.last_name{
    margin-left: 10%;
    width: 40%;
}

.street,.email_address,.credit_card{
    width: 90%;
    height:62px;
}
.street,.email_address{
    margin-top:20px;
}
.addresses,.credit_info{
    height: 62px;
    margin-top:20px;
    display: flex;
    flex-direction: row;
}

.state{
    margin-left:20px;
}
.pin{
    margin-left: 20px;
}
.payment{
    margin-top: 20px;
}
.credit_card{
    margin-top: 20px;   
}
.expire,.year,.security{
    width: 28%;
}
.year,.security{
    margin-left:3%;
}

.adds{
    margin-top: 35px;
    width: 90%;
    text-align: center;
}

.submit_button {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    width: 90%;
}

.goback {
    margin-top: 8px;
}

.gobackbutton {
    color: #C1F7D5; 
    font: normal normal 300 14px/52px Helvetica;
    letter-spacing: -0.16px;
    opacity: 1;
    text-decoration: none;
}

.Button_class {
    margin-left: 40%;
    height: 56px;
    width: 256px;
    height: 56px;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
}

.sub_button {
    margin-top: 15px;
    margin-left: 35px;
    height: 27px;
    background: transparent;
    border: none;
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
}
.footer{
    font-size: medium;
    width: 100%;
    padding:3%;
    height: 200px;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.row1,.row2{
    width:30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.downheading{
    width: 25%;
    padding-top: 0px;
    margin-top: 0px;
    font: normal normal bold 18px/22px Helvetica;
    margin-left: 32px;
  }
  contactus{
    width: 25%;
  }
  .links{
    width:25%;
    height: 100px;
  }
  .followus{
    width:25%;
  }
  .stopclimate{
    margin-left: 0px;
  }


  @media (max-width: 786px) {
    .main{
        padding:1%;
        padding: 5%;
        height: 1500px;
    }

    .form_and_article{
        flex-direction: column;
    }
    .article{
        order:1;
        width: 100%;
        align-self: flex-start;
    }
    .form_input{
        margin-left: 5%;
        margin-top: 10%;
        order:2;
        width: 80%;
        height: 1000px;
    }
    .footer{
        padding-left: 50px;
        flex-direction: column;
        flex-wrap: wrap;
        height: 500px;
    }
    .row1{
        justify-content: space-evenly;
    }
    .contactus{
        margin-left: 100%;
        width: 100px;
    }
    .submit_button{
        flex-direction: column;
        text-align: center;
    }
    .Button_class{
        margin-left: 0%;
        width: 100%;
    } 
    .downheading{
        margin-left:100%;
    }
    .links{
        margin:5%;
        width: 100%;
        margin-left:25%;
    }
    .followus{
        margin-left:100%;
    }
    .row2{
        padding-left: 20px;
        margin-top: 20px;
        box-sizing: border-box;
    }
    .stopclimate {
        margin-top: 100px;
    }

  }